/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme_dark {
  --accent-color: #ff0070;
  --header-text: #DB00FF;
  --main-text: #F1B2CE;
  --text-title: #FF0070;
  --text-subtitle: #000028;
  --shadow-color: #F1B2CE;
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}
